                                                                            /*          BEGIN OF RESET CSS            */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cssValid{
    border:0;width:88px;height:31px
}
                                                                                    /*      END OF RESET CSS       */
                                                                                    /*  BEGIN OF MIXIN FUNCTIONS   */
@mixin alert($c, $bg, $bc){
    padding: 5px;
    font-size: 13.5px;
    color: $c;
    background-color: $bg;
    border: 1.2px solid $bc;
    vertical-align: middle;
    border-radius: 6px;
    width: 90%;
    height: 100%;
    .close{
        font-family: Verdana;
        float: right;
        font-weight: 700;
        font-weight: bold;
        opacity: .2;
        text-decoration: none !important;
        text-align: right;
    }
    .close:hover{
        cursor: pointer;
    }
    .close::before{
        content: "X";
    }
}

@mixin btn ($c, $bg, $bc){
    display: inline-block;
    padding: 16px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 4px;
    color: $c;
    background-color: $bg;
    border-color: $bc;
    &:hover, &:focus, &:active{
        background-color: $bc;
        border-color: $bg;
    }
}

@mixin visible($v, $s, $mQueries){
    @if $v == visible{
        @if ($mQueries == $s) {
            .#{$v}-#{$s}{
                display: block;
            }
        }
    }


    @if $v == hidden{
        @if ($mQueries == $s) {
            .#{$v}-#{$s}{
                display: none;
            }
        } 
    }
}

@mixin navbar($s){
    width: 100%;
    text-align: center;
    border-radius: 3px;
    z-index: 1;
    min-height: 30px;
    height: 100%;
    
    @if $s >= 150{
        background-color: rgba(48,48,48, 0.5);
    }
    .navbar-brand{
        @if $s <= 150 {
            display: none;
        }
    }

    ul {
        z-index: 1;
        list-style: none;
        li {
            @if $s < 150 {
                background-color: rgba(48,48,48, 0.5);
                width: 100%;
            }
            display: inline-block;
            text-align: left;
            float: left;
            &:hover > .dropdown-menu {
                display: inherit;
            }
        }
    }

    a {
        width: 100%;
        z-index: 1;
        display:block;
        margin: 0 5px;
        transition: color .3s;
        color: #333;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        text-decoration: none;
        &:hover {
            color: #ccc;
        }
    }

    .navbar-search{
        float: right;
        vertical-align: middle;
    }

    .navbar-search {
        form{
            vertical-align: middle;
            @if $s >= 150 {
                margin: 3px 10px;
            }
        }
        input{
            width: 100px; 
            border-radius: 7px;
            font-size: 10px;
            &[type=submit]{
                display: none;

            }
        }
    }

    .dropdown-menu {
        display: none; position: absolute;
        li{ 
            width: 100%;
            &:hover{
                margin: 0px 0px 0px 15%;
                transition: margin .4s .05s;
                border-radius: 3px;
            }
            ul{
                margin-left: -15%;
            }
            a { 
                color: #333;
            }
        }
        
        .dropdown-menu{ 
            display: none; 
            position: absolute; 
            width: 100%;
            left: 100%; 
            top: 0;
            li{ 
                width: 100%;
            }

            @if $s < 200 {
                a {
                    z-index: 1;
                    font-size: 70%;
                    font-weight: normal;
                }
                li{ 
                    max-width: $s + 0px;
                    width: 100%;
                }
                @if $s >= 150 {
                    left: 30%;
                    top: 100%;
                } @else {
                    left: 0;
                    top: 100%;
                }
            } @else {
                a {
                    font-size: 75%;
                }
            }
        }
        li { 
            float: none;
            background: rgba(148,148,148, 0.9); 
            display: list-item; 
            position: relative;  
            width: 120%;
            &:hover { 
                background: rgba(128,128,128, 1);
                a{
                    color: #ddd;
                    transition: color 0s 0s;
                } 
            }
        }
    }
}
#myModal{
    display: none;
}

                                                                                    /*  END OF MIXIN FUNCTIONS   */
                                                                                    /*  BEGIN OF .btn STYLE    */
.btn-default { @include btn(#333, #fff, #ccc);}
.btn-primary { @include btn(#fff, #337ab7, #2e6da4);}
.btn-success { @include btn(#fff, #5cb85c, #4cae4c);}
.btn-info { @include btn(#fff, #5bc0de, #46b8da);    }
.btn-warning { @include btn(#fff, #f0ad4e, #eea236);}
.btn-error { @include btn(#fff, #d9534f, #d43f3a);}
.btn-link { 
    @include btn(#337ab7, transparent, transparent);
    &:hover, &:focus, &:active{
        text-decoration: underline;
        color: #1159a4;
    }
}

.btn[disabled], .disabled{
    @include btn(rgba(180, 180, 180, 1),rgba(181, 181, 181, 0.3), rgba(250, 80, 130, 0.7));
    cursor: not-allowed;
}

.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-sm{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;    
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;   
}
                                                                                    /*  END OF .btn STYLE    */
                                                                                    /*  BEGIN GRID MAKER    */
@mixin row($s, $mQueries){
    .row{
        @for $i from 1 through 12 {
            @if $mQueries == 1280 {

               .col-#{$s}-#{$i} {
                    display: table-cell;
                    width: 100% / 12 * $i;
                    float: left;
                    padding-bottom: 8px;
                    height: auto;
                }
            }
            @if $mQueries == 900 {

               .col-#{$s}-#{$i} {
                    display: table-cell;
                    width: 100% / 12 * $i;

                    @if $s == lg{
                        width: 100%;
                    }
                    float: left;
                    padding-bottom: 8px;
                    height: auto;
                }
            }
            @if $mQueries == 480 {

               .col-#{$s}-#{$i} {
                    display: table-cell;
                    width: 100% / 12 * $i;
                    @if $s == md{
                        width: 100%;
                    } @else if $s == lg{
                        width: 100%;
                    }
                    float: left;
                    padding-bottom: 8px;
                    height: auto;
                }
            }
            @if $mQueries == 240 {

               .col-#{$s}-#{$i} {
                    display: table-cell;
                    width: 100%;
                    @if $s == xs{
                        width: 100% / 12 * $i;
                        overflow: hidden;
                    }
                    float: left;
                    padding-bottom: 8px;
                    height: auto;
                }
            }
        }
        clear: both
    }
}

@for $b from 1 through 10{
    .img-blur-#{$b}{
        -webkit-filter: blur($b + px);
    }
}
.img-circle{
    border-radius: 50%; 
}
.img-rounded{
    border-radius: 6%; 
}
.img-thumbail{
    max-width: 92%;
    height: auto;
    float: left;
    display: block;
    padding: 3%;
    background-color: #fff;
    border: 0.1pc solid black;
    border-radius: 6px;
}

                                                                                   /*  END GRID MAKER    */
.img-responsive{
    display: block;
    width: 100%;
    height: auto;
}
                                                                                    /*  BEGIN .text & .bg STYLE */
.text-muted{color: #777;}
.text-primary{color: #337ab7;}
.text-success{color: #3c763d;}
.text-warning{color: #8a6d3b;}
.text-error{color: #a94442;}
.text-info{color: #31708f};

.bg-primary{
    color: #fff;
    background-color: #337ab7;
}
.bg-muted{background-color: transparent;}
.bg-success{background-color: #dff0d8;}
.bg-warning{background-color: #fcf8e3;}
.bg-error{background-color: #f2dede;}
.bg-info{background-color: #d9edf7;};
                                                                                    /*  END OF .text & .bg STYLE    */
                                                                                    /*      BEGIN ALERT STYLE       */
.alert-success{ @include alert(#3c763d, #dff0d8, #d6e9c6);}
.alert-info{ @include alert(#31708f, #d9edf7, #bce8f1);}
.alert-warning{ @include alert(#8a6d3b, #fcf8e3, #faebcc);}
.alert-error{ @include alert(#a94442, #f2dede, #ebccd1);}
.container-fluid{
    display: table;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg{
    display: none;
}

.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg{
    display: inherit;
}


                                                                                    /*      END OF ALERT STYLE       */
@media screen and (min-device-width: 1280px){
    @include row(lg, 1280);
    @include row(md, 1280);
    @include row(sm, 1280);
    @include row(xs, 1280);
    @include visible(visible, lg, lg);
    @include visible(hidden, lg, lg);
    @include visible(visible, md, lg);
    @include visible(hidden, md, lg);
    @include visible(visible, sm, lg);
    @include visible(hidden, sm, lg);
    @include visible(visible, xs, lg);
    @include visible(hidden, xs, lg);
    .navbar{
        @include navbar(200);
    }
}

@media screen and (min-device-width:960px) and (max-device-width: 1280px) {
    @include row(lg, 900);
    @include row(md, 900);
    @include row(sm, 900);
    @include row(xs, 900);
    @include visible(visible, lg, md);
    @include visible(hidden, lg, md);
    @include visible(visible, md, md);
    @include visible(hidden, md, md);
    @include visible(visible, sm, md);
    @include visible(hidden, sm, md);
    @include visible(visible, xs, md);
    @include visible(hidden, xs, md);
    .navbar{
    @include navbar(200);
}
}

@media screen and (min-device-width:480px) and (max-device-width: 960px){
    @include row(lg, 480);
    @include row(md, 480);
    @include row(sm, 480);
    @include row(xs, 480);
    @include visible(visible, lg, sm);
    @include visible(hidden, lg, sm);
    @include visible(visible, md, sm);
    @include visible(hidden, md, sm);
    @include visible(visible, sm, sm);
    @include visible(hidden, sm, sm);
    @include visible(visible, xs, sm);
    @include visible(hidden, xs, sm);
    .navbar{
    @include navbar(150);}
}

@media screen and (max-device-width:480px) {
    @include row(lg, 240);
    @include row(md, 240);
    @include row(sm, 240);
    @include row(xs, 240);
    @include visible(visible, lg, xs);
    @include visible(hidden, lg, xs);
    @include visible(visible, md, xs);
    @include visible(hidden, md, xs);
    @include visible(visible, sm, xs);
    @include visible(hidden, sm, xs);
    @include visible(visible, xs, xs);
    @include visible(hidden, xs, xs);
    .navbar{
    @include navbar(100);}
}